/*Stylesheet for Float: Angelina Jolie Edition!*/

#background{
	background-image: url('./images/duveneck.jpg');
	background-repeat: no-repeat;
	background-color: black;
	background-size: cover;
	position:absolute;
	min-height: 100%;
	height: auto;
	width: 100%;
	top: 0px;
	left: 0px;
	overflow: auto;
}

#menubar {
	float: left;
	clear: both;
	font-size: 30px;
}

#menubar li{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	display:inline-block;
	color: white;
	background-color: #000047;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 50px;
	padding-right: 50px;
	float: left;
	opacity: .8;
}

#menubar li:hover{
	background-color: #E4E4EB;
	color: gray;
}

#moremenu{
	position:fixed;
	left: 570px;
	top: 100px;
}

#moremenu li{
	display: block; 
	float: left;
	clear: both;
	width: 50px;
	height: 20px;
	background-color: white;
	color: gray;
}

/*a:visited{
	text-decoration: none;
	color: white;
}*/

h1{
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
}


/*CSS for index.html*/

.title{
	position: absolute;
	width: 500px;
	padding-left: 60px;
	top: 120px;
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	text-align: left;
	color: black;
}

.shortinfo{
	font-size: 20px;
	text-align: left;
	float:left;
	top: 0px;
	position: absolute;
	display: inline-block;
	padding: 30px;
}

/*CSS for about.html*/

.about_text{
	background-color: rgba(240, 240, 240, 0.9);
	color: black;
	width: 80%;
	height: auto;
	padding: 30px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}


.see_more{
	color: #000047;
	font-size: 20px;
}

/*CSS for photogallery.html*/

.gallery{
	background-color: rgba(0, 0, 0, 0.8);
	width: 600px;
	height: auto;
	padding: 30px;
}

.whiteText{
	color: white;
	position: inherit;
	top: 200px;
}


